{% extends 'base.html.twig' %}

{% block title %}Edit App{% endblock %}

{% block body %}
    <h1>Edit App</h1>

    {{ include('app/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_index') }}">back to list</a>

    {{ include('app/_delete_form.html.twig') }}
{% endblock %}
