{% extends 'base.html.twig' %}

{% block title %}New App{% endblock %}

{% block body %}
    <h1>Create new App</h1>

    {{ include('app/_form.html.twig') }}

    <a href="{{ path('app_index') }}">back to list</a>
{% endblock %}
